/* Reset styles and font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

main{
  margin: 2em;
}

/* styling for the information section */
.info h1 {
  margin: 1em;
  padding: 3vw;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  color: #1F2937;
}

.brands{
  margin: 1em;
  display: flex;
  gap: 35px;
  justify-content: center;
}

.car{
  height: 100px;
  width: 100px;
  border-radius: 10%;
  border-style: solid;
  border-color: #3882F6;
}

.car img{
  height: 90px;
  width: 90px;
  border-radius: 10%;
  object-fit: contain;
}

.car p{
  margin: 0.5em;
  text-align: center;
  
}

/* styling for the quote section */
.quote{
  /* margin: 1em; */
  margin-top: 1em;
  padding: 5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #E5E7EB;
}

.quote p{
  text-align: center;
  font-size: 36px;
  font-style: italic ;
  color: #1F2937;
}

.author{
  text-align: right;
  font-weight: 500;
}

/* styling the about page */
.cars img{
  width: 100%;
}

.inStock{
  margin: 1em;
  display: flex;
  gap: 30px;
}

.test{
  height: 100px;
  width: 100px;
  border-style: solid;
  border-color: #3882F6;
}